---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';

const title = 'Home Page';
const pageTitle = 'Home Page';
---

<Layout title={title}>
  <a href="/">Home</a>
  <a href="/about/">About</a>
  <a href="/blog/">Blog</a>
  <main>
    <h1>{pageTitle}</h1>
    <p>An example site for learning to build with Astro.</p>
  </main>
</Layout>
